// assets/stylus/_variables.styl  
/*---------------------------------------------
* breakpoints
*---------------------------------------------*/

screen-sm = 600px
screen-md = 960px
screen-lg = 1264px
screen-xl = 1904px

/*---------------------------------------------
* colors
*---------------------------------------------*/

base-color = #03A9F4 !important
accent-color = #FFAB00 !important